
# See settings.py for more options

TITLE = '<Repository>'

TEMPLATE_FILE = 'template.html'
INPUT_FILE = 'log.txt' # None for stdin
OUTPUT_FILE = None # None for stdout
AUTHOR_FILE = 'authors.txt'

REPO_URL = 'https://github.com/<id>/<repo>/tree/<branch>'
COMMIT_URL = 'http://github.com/<id>/<repo>/commit/{commit}'

GOOGLE_ANALYTICS = None

ALIASES = {
    'a@example.com': 'b@example.com', # Make a@ as alias of b@
}

GROUPS = [
    {
        'name': 'Group name',
        'filter': lambda author: False, # any filter
    }
]
